.container {
    padding: 24px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 800px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;
}

.footer {
    margin-top: 32px;
    text-align: center;
    font-size: 0.75rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLink {
    display: flex;
    cursor: pointer;
}

.themeSwitcher {
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--text-secondary);
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.themeSwitcher:focus {
    outline: none;
}